<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes ingresso</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.apresentacao {
  color: white;
  padding: 70px 20px;
  text-align: center;
}

.apresentacao h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color:black;
}

.apresentacao p {
  font-size: 1.5rem;
  color:black;
}


/* Seção de Eventos em Destaque */
.informacoes {
  padding: 40px 20px;
  overflow-y:auto;
}

.informacoes p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}








#botao-meus-ingressos{
  background-color:rgb(81, 83, 236);
  color: white;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}
#div-botao-ingressos{
  display: flex;
  justify-content: center;
}


.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
</style>
<body>
  <header class="apresentacao">
    <div class="texto-apresentacao">
      <h1>Dados ingresso</h1>
    </div>
  </header>

  <section class="informacoes">

            <p>Evento: {{ingresso.evento}}</p>
            <br>
            <p>Preço: R$ {{ingresso.preco}}</p>
            <br>
            <p>Data: {{ingresso.dataEvento}}</p>
            <br>
            <p>Tipo: {{ingresso.tipo}}</p>
            <br>
            <p>Comprado em: {{ingresso.compradoEm}}</p>
            <br>
    </div>
  </section>

<div id="div-botao-ingressos">
  <form action="/paginas/meusIngressos" method="GET">
    <button id='botao-meus-ingressos' type="submit">Voltar</button>
  </form>
</div>

</body>
</html>
