<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus ingressos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.apresentacao {
  color: white;
  padding: 70px 20px;
  text-align: center;
}

.apresentacao h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color:black;
}

.apresentacao p {
  font-size: 1.5rem;
  color:black;
}


/* Seção de Eventos em Destaque */
.informacoes {
  padding: 40px 20px;
    overflow-y:auto;
}

.informacoes h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.ingressos-display {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto; /* Permitir rolagem horizontal */
}

.caixa-ingresso {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  flex-shrink: 0; 
  min-width
}
.caixa-ingresso img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.caixa-ingresso h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.caixa-ingresso button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

#botao-meus-ingressos{
  background-color:rgb(81, 83, 236);
  color: white;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}
#div-botao-ingressos{
  display: flex;
  justify-content: center;
}

.caixa-ingresso button:hover {
  background-color: #45a049;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
</style>
<body>
  <header class="apresentacao">
    <div class="texto-apresentacao">
      <h1>Meus Ingressos</h1>
    </div>
  </header>

  <section class="informacoes">
    <div class="ingressos-display">

    {{{todosOsIngressos}}}
    </div>
  </section>

<br><br><br>
<div id="div-botao-ingressos">
  <form action="/paginas/home" method="GET">
    <button id='botao-meus-ingressos' type="submit">Voltar</button>
  </form>
</div>

</body>
</html>
